{% extends 'dashboard/index.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<section class="welcome-section">
		<h1>Bienvenue sur MyUniverse</h1>
		<br>
		<p>Créez votre propre galaxie et explorez l'univers personnalisé qui vous est dédié.</p>
	</section>
	<br>
	<div class="post-container">
        {% for partage in partages %}
            <div class="post">
                <!-- En-tête avec profil utilisateur -->
                <div class="post-header">
                    <img src="{{ asset('uploads/profile_pictures/' ~ partage.user.profilePicture) }}" 
                        alt="photo de profil" class="profile-pic">
                    <span class="username">{{ partage.user.name }}</span>
                </div>

                <!-- Image du partage -->
                <div class="post-image">
                    <img src="{{ partage.imageUrl }}" alt="Image du partage">
                </div>

                <!-- Boutons de like et commentaire -->
                <div class="post-footer">
                    <div class="icons">
                        <button class="like-btn">❤️</button>
                        <button class="comment-btn">💬</button>
                    </div>
                    <p class="description">{{ partage.description }}</p>
                </div>
            </div>
        {% else %}
            <p>Aucun partage à afficher.</p>
        {% endfor %}
    </div>
{% endblock %}
