{% extends 'dashboard/index.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="welcome-section">
    <h1>Bienvenue sur MyUniverse</h1>
    <p>Créez votre propre galaxie et explorez l'univers personnalisé qui vous est dédié.</p>
</section>
{% endblock %}
