<form method="post" action="{{ path('app_constellations_delete', {'id': constellation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ constellation.id) }}">
    <button class="btn">Delete</button>
</form>
