{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit Constellations{% endblock %}

{% block body %}
    <h1>Edit Constellations</h1>

    {{ include('constellations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_constellations') }}">back to list</a>

    {{ include('constellations/_delete_form.html.twig') }}
{% endblock %}
