{% extends 'dashboard/index.html.twig' %}

{% block title %}Modifier Stars{% endblock %}

{% block body %}
    <h1>Modifier Stars</h1>
    <br>
    <p><a href="{{ path('app_user_stars') }}" class="lienBtn">Retour</a></p>

    {{ include('stars/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    <div class="form-footer">
        {{ include('stars/_delete_form.html.twig') }}
    </div>

{% endblock %}
