{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit Partage{% endblock %}

{% block body %}
    <h1>Edit Partage</h1>

    {{ include('partage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partage_index') }}">back to list</a>

    {{ include('partage/_delete_form.html.twig') }}
{% endblock %}
