{% extends 'dashboard/index.html.twig' %}

{% block title %}New Partage{% endblock %}

{% block body %}
    <h1>Publier un poste</h1>

    {{ include('partage/_form.html.twig') }}

    <a href="{{ path('app_partage_index') }}" class="lienBtn">Retour</a>
{% endblock %}
