{% extends 'dashboard/index.html.twig' %}

{% block title %}New Partage{% endblock %}

{% block body %}
    <a href="{{ path('app_partage_index') }}" class="lienBtnCreate">Retour</a>
    
    <h1>Publier un poste</h1>
    <div class="form-container">
    {{ include('partage/_form.html.twig') }}
    </div>
{% endblock %}
